In [1]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd
import time

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [7]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [19]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

browser.visit(url)

In [6]:
url2="https://www.jpl.nasa.gov/spaceimages/"
browser.visit(url2)

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
img_url = soup.find('article', class_='carousel_item')["style"].split("'")[1]
img_url

'/spaceimages/images/wallpaper/PIA18904-1920x1200.jpg'

In [9]:

featured_image_url="http://www.jpl.nasa.gov"+img_url



featured_image_url

'http://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18904-1920x1200.jpg'

In [8]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
time.sleep(10)
html = browser.html
weather_soup = BeautifulSoup(html, "html.parser")
Tweet=weather_soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

for x in range(len(Tweet)): 
    print(f'{x}: {Tweet[x].text}')

browser.quit()

0: Don’t miss what’s happening
1: People on Twitter are the first to know.
2: Log in
3: Sign up
4: Mars Weather
5: Mars Weather
6: See new Tweets
7: Follow
8: Mars Weather
9: Mars Weather
10: @MarsWxReport
11: Updates as avail from the REMS weather instrument aboard
12: .  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.
13: Gale Crater, Mars
14: Gale Crater, Mars
15: 53
16: Following
17: 57.6K
18: Followers
19: Tweets
20: Tweets & replies
21: Media
22: Likes
23: Tweets
24: Tweets & replies
25: Media
26: Likes
27: Mars Weather
28: Mars Weather
29: @MarsWxReport
30: ·
31: InSight sol 610 (2020-08-14) low -93.8ºC (-136.8ºF) high -16.8ºC (1.7ºF)
winds from the W at 6.5 m/s (14.5 mph) gusting to 16.6 m/s (37.0 mph)
pressure at 7.90 hPa
32: 1
33: 15
34: Mars Weather
35: Mars Weather
36: @MarsWxReport
37: ·
38: InSight sol 609 (2020-08-13) low -93.2ºC (-135.7ºF) high -18.2ºC (-0.7ºF)
winds from the WNW at 8.1 m/s (18.2 mph) gusting to 20.1 m/s (44.9 mph)
pressure at 7.90 hPa
39: 1
40: 9
41: 28
42: Mars Weather
43: Mars Weather
44: @MarsWxReport
45: ·
46: InSight sol 608 (2020-08-11) low -93.0ºC (-135.5ºF) high -19.5ºC (-3.1ºF)
winds from the WNW at 8.5 m/s (19.0 mph) gusting to 23.8 m/s (53.3 mph)
pressure at 7.90 hPa
47: 5
48: 18
49: Mars Weather
50: Mars Weather
51: @MarsWxReport
52: ·
53: InSight sol 607 (2020-08-11) low -93.1ºC (-135.6ºF) high -18.9ºC (-2.1ºF)
winds from the WNW at 8.2 m/s (18.4 mph) gusting to 21.4 m/s (47.8 mph)
pressure at 7.90 hPa
54: 6
55: 18
56: New to Twitter?
57: Sign up now to get your own personalized timeline!
58: Sign up
59: You might like
60: NASA InSight
61: NASA InSight
62: @NASAInSight
63: Follow
64: Dharma Productions
65: Dharma Productions
66: @DharmaMovies
67: Follow
68: CanberraDSN
69: CanberraDSN
70: @CanberraDSN
71: Follow
72: Show more
73: What’s happening
74: Cricket
75: ·
76: 1 hour ago
77: MS Dhoni and Suresh Raina retire from international cricket
78: Trending with:
79: Trending with:
80: Trending with:
81: #MSDhoni
82: #MSDhoni
83:  and
84:  and
85:  and
86: #ThankYouMSDhoni
87: #ThankYouMSDhoni
88: Pop · Trending
89: Ariana Grande
90: 19.4K Tweets
91: K-pop · Trending
92: Jung Hoseok
93: 67.2K Tweets
94: NHL
95: ·
96: 1 hour ago
97: Bruins announce that Tuukka Rask is opting out of the NHL bubble
98: Trending with:
99: Trending with:
100: Trending with:
101: Halak
102: Halak
103:  and
104:  and
105:  and
106: Jaro
107: Jaro
108: Trending in Canada
109: Jughead
110: 2,225 Tweets
111: Show more
112: Terms
113: Privacy policy
114: Cookies
115: Ads info
116: © 2020 Twitter, Inc.

In [20]:
astro_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
head_url=astro_url.split("search")[0]
astro=requests.get(astro_url)

In [22]:
soup_ast=BeautifulSoup(astro.text, "html.parser")

In [27]:
hemp_list=soup_ast.find_all('div', class_="item")

In [39]:
hemp_list[0].img["src"]

'/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'

In [25]:
hemisphere_images_url =[]

In [43]:
hemp_list=soup_ast.find_all('div', class_="item")

# Loop through returned results
for hemp in hemp_list:
    # Error handling
    try:
        # Identify and return title of listing
         title= hemp.find('h3').text
        # Identify and return price of listing
         hem_imp= hemp.img["src"]
        # Identify and return link to listing
         image=head_url+img_url

        # Run only if title, price, and link are available
         if (title and image):
            # Print results
            print('-------------')
            print(title)
            print(image)
           


            # Dictionary to be inserted as a MongoDB document
            post = {
                'titles': title,
                'image_url': image
            }

            hemisphere_images_url.append(post)
    except Exception as e:
        print(e)

-------------
Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov//spaceimages/images/wallpaper/PIA18904-1920x1200.jpg
-------------
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov//spaceimages/images/wallpaper/PIA18904-1920x1200.jpg
-------------
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov//spaceimages/images/wallpaper/PIA18904-1920x1200.jpg
-------------
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov//spaceimages/images/wallpaper/PIA18904-1920x1200.jpg

In [2]:
facts_url ="https://space-facts.com/mars/"

In [3]:
tables = pd.read_html(facts_url)
Mars_df = tables[2]

In [4]:
Mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [5]:
d=[]
dataz={0: "description",1:""}
d.append(dataz)

In [6]:

Mars_df=pd.concat([pd.DataFrame(d), Mars_df], ignore_index=True)

In [7]:
Mars_df.columns=['', 'value']

In [8]:
Mars_df.head()

                                                 value
0           description
1  Equatorial Diameter:                       6,792 km
2       Polar Diameter:                       6,752 km
3                 Mass:  6.39 × 10^23 kg (0.11 Earths)
4                Moons:            2 (Phobos & Deimos)

In [9]:
html_table = Mars_df.to_html(index=False)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>description</td>\n      <td></td>\n    </tr>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>  </thead>  <tbody>    <tr>      <td>description</td>      <td></td>    </tr>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [11]:
html=Mars_df.to_html()

In [12]:
html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>description</td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'